.board{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    background-color: black;
    width: 525px;
}


.cell{
    background-color: rgb(255, 255, 255);
    height: 10rem;
    width: 10rem;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: .25em;
}
button{
    width: max-content;
    height: max-content;
    text-align: center;
    border-radius: 10px;
}
